/* Define CSS for all pages */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 1%;  
}

.img-contain{
    width: 100%;
}
.img-curve {
    border-radius: 10px;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.clearfix {
    clear: both;
    float: none; /*clear space from other section*/
}

.product-banner-text h1 {
    color: white;
    font-size: 2.5rem;
}

.filter h3{
    padding-left: 12px;
}

/* Banner Section */
.product-banner {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.banner-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -100%;
}

.product-banner-text {
    position: absolute;
    bottom: 2%;
    left: 5%;
    text-shadow: 1px 1px 5px black;
}

/* Main Content */

.product-main-content {
    display: flex;
}

/* Filter Selection Section */
.filter-selection {
    width: 20%;
    padding-top: 36px;
    background-color: #d9d9d9;
}

.filter {
    display: flex;
    padding: 8px;
    padding-left: 8px;
    border-bottom: 2px solid #b9b9b9;
    border-top: 2px solid #b9b9b9;
}

.filter-dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 15%;
    height: 25px;
}

.confirm-section {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.confirm-btn {
    background-color: #00b894;
    color: white;
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Results Section */
.results-section {
    width: 80%;
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 80vh;
}

.results-section table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.results-section td, th {
    font-size: 0.25 rem;
    border: 2px solid #8a8a8a;
    text-align: left;
    padding: 8px;
}

.results-section th {
    background-color: #c2c2c2;
}

.results-section tr:nth-child(odd) {
    background-color: #ececec;
}