/* Define CSS for all pages */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 1%;  
}

.img-contain{
    width: 100%;
}
.img-curve {
    border-radius: 10px;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.clearfix {
    clear: both;
    float: none; /*clear space from other section*/
}

h2 {
    color: #2d3436;
    font-size: 1.8rem;
    text-transform: uppercase;
}

h3 {
    color: #636E72;
    text-align: center;
}

/* Banner Section */
.banner {
    background-color: #B9B9B9;
    padding: 2% 0;
}

.banner-contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-left {
    float: left;
    padding: 0 30% 0 0;
}

.banner-left h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: center;
    color: black;
}

.banner-left .cta {
    display: inline-block;
    padding: 13px 25px;
    color: black;
    background-color: #00CEC9;
    border: 5px solid #00CEC9;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.3);
    transition: .1s ease;  
}

.banner-left .cta:hover {
    color: white;
    background-color: #00a9a6;
    border: 5px solid #00a9a6;
}

.banner-right {
    width: 30%;
    height: 40%;
}

/* Main Product Section */
.main-product {
    padding: 2% 0;
}

.main-title {
    margin-bottom: 30px;
}

.component-box{
    width: 23%;
    float: left;
    margin: 1%;
}

.product-title {
    padding: 3% 0;
}