/* Header Section */
.logo {
    width: 20%;
    float: left;
}

.menu {
    line-height: 35px;
}

.menu ul {
    list-style-type: none; /* remove the dots in front of list*/
}

.menu ul li {
    display: inline;
    padding: 3%; /*create space between the options*/
    font-weight: bold;
}

.menu ul li a {
    color: #0575CC;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #868686;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 1%;  
}

.text-right {
    text-align: right;
}

/* Footer Section */
.footer {
    background-color: #A49AEC;
    padding: 1% 0;
}

.footer-text{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}