/* Header Section */
.logo {
    width: 20%;
    float: left;
}

.menu {
    line-height: 35px;
}

.menu ul {
    list-style-type: none; /* remove the dots in front of list*/
}

.menu ul li {
    display: inline; /* make all options in one line */
    padding: 3%; /*create space between the options*/
    font-weight: bold;
}

.menu ul li a {
    color: #0768b2;
    text-decoration: none;  /* remove underline */
}

.menu ul li a:hover {
    color: #868686;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 1%;  
}

.text-right {
    text-align: right;
}

.btn-secondary {
    background-color: #00b894;
    padding: 1%;
    color: white;
    text-decoration: none;
}
.btn-secondary:hover {
    background-color: #2fd7a8;
}
.btn-danger {
    background-color: #ff4757;
    padding: 1%;
    color: white;
    text-decoration: none;
}
.btn-danger:hover {
    background-color: #ff6b81;
}

/* Footer Section */
.footer {
    background-color: #A49AEC;
    padding: 1% 0;
}

.footer-text{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}